/* your local css stylesheet */
body {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    -webkit-text-size-adjust: 100%;
    text-align: left;
    margin: 20px;
  }
th, td {
    font-size: .9rem;
}
div.container {
    margin-left: 0;
}
dt-column-title {
    color: black;
}
.actionview {
    position: relative;
    float: right;
}

div.dt-buttons {
    position: absolute;
    float: right !important;
    top: 1em;
    right: 1em;
  }